*{
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e8e7e3;
}

.topnav a{
  float: right;
  color:  #f2f2f2;
  display: block;
  text-align: center;
  text-color: #121111;
  padding: 14px 16px;
  text-decoration: none;
  font-size:13px;
  width:100px;
}
.topnav{
   overflow: hidden;
  background-color: #ffff1a;
}

footer{
  padding: 20px;
  background-color:#d4d1cb;
  text-align:center;
  font-weight:bold;
}

header{
  padding:15px;
}
.bg-img {
  /* The image used */
  background-image: url("poster.png");
  min-height: 380px;
  max-width: 100%;
    height: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
