*{
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e8e7e3;
}

header{
  padding:15px;
}

.topnav a{
  float: right;
  color:  #121111;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:13px;
  width:100px;
}
.topnav{
   overflow: hidden;
  background-color: #ffff1a;
}
.topnav a:hover {
  background-color: #ddd;
  color: red;
}
/* Position the navbar container inside the image */
.container {
  margin: 20px;
  width: auto;
}

footer{
  padding: 20px;
  background-color:#d4d1cb;
  text-align:center;
  font-weight:bold;
}
