*{
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e8e7e3;
}

.topnav a{
  float: right;
  color:  #121111;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:13px;
  width:100px;
}
.topnav{
   overflow: hidden;
  background-color: #ffff1a;
}

footer{
  padding: 20px;
  background-color:#d4d1cb;
  text-align:center;
  font-weight:bold;
}

header{
  padding:15px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
